html {
  position: relative;
  min-height: 100%;
}
body {

margin-bottom: 200px;
}
.navbar {
    margin-bottom: 0;
}

.navbar-default {
  background-color: #0f0f0f;

}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}


.hero-image-home {

    background-image: url("../images/Youngs-Tailor-Shop-HomePage.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.hero-text-home {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-image-services {

    background-image: url("../images/Youngs-Tailor-Shop-ServicesPage.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-text-services {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-image-about-margin{
margin-top: 50px;
}

.hero-text-about-margin{
  margin-top: 50px;

}

.about-body-margin{

margin-top: 100px;
margin-bottom: 300px;
}

.about-heading-margin{
margin-bottom: 50px;

}

.services-body-margin{

  margin-top: 100px;
}

.service-intro{

margin-top: 50px;
margin-bottom: 50px;

}

.same-day-service{
margin-top: 100px;
margin-bottom: 100px;

}

.coupon{

text-align: center;
margin-bottom: 300px;

}

.hero-image-contact {

    background-image: url("../images/Youngs-Tailor-Shop-ContactUsPage.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;

}

.contact-padding{

margin-top: 100px;
margin-bottom: 100px;

}

.sub-contact-padding{

margin-top: 50px;
margin-bottom: 50px;

}

.map-container{

margin-bottom: 100px;
}

#phone-number{
color: inherit;
text-decoration: none;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #0f0f0f;
  text-align: center;
  color: white;
  padding-top: 20px;

}
