/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  h1 {font-size:1.5rem;}
   h2 {font-size:1.5rem;}
   p {font-size:1rem;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1 {font-size:2rem;}
  h2 {font-size:2rem;}
  p {font-size:1.33rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {font-size:2.5rem;}
  h2 {font-size:2.5rem;}
  p {font-size:1.66rem;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {font-size:3rem;}
  h2 {font-size:3rem;}
  p {font-size:2rem;}
}


html {
  position: relative;
  min-height: 100%;
}
body {

margin-bottom: 200px;
}

h1{
font-weight: bold;
font-family: 'Roboto Condensed', sans-serif;
text-transform: uppercase;

}

h2{
font-weight:bold;
font-family: 'EB Garamond', serif;

}

p{
font-family: 'Roboto', sans-serif;


}
.navbar {
    margin-bottom: 0;
}

.navbar-default {
  background-color: #0f0f0f;

}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}



.hero-image-home {

    background-image: url("../images/Youngs-Tailor-Shop-HomePage.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.button-properties{
background-color: #ff3333;
margin-top: 100px;
}

.hero-text-home {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#hero-text-size{

   font-size: 46px;
   color: red;
}



.hero-image-services {

    background-image: url("../images/Youngs-Tailor-Shop-ServicesPage.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-text-services {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-image-about-margin{
margin-top: 50px;
}

.hero-text-about-margin{
  margin-top: 50px;

}

.about-body-margin{

margin-top: 100px;
margin-bottom: 300px;
}

.about-heading-margin{
margin-bottom: 50px;

}

#services-text-size{
  font-size: 40px;
  color: blue;
}

.services-body-margin{

  margin-top: 100px;
}

.services-list-padding{
padding-left:20px;
padding-right:20px;

}

.services-list-alignment ul, .services-list-alignment li{

  margin: 0; padding: 0;
}

.service-intro{

margin-top: 30px;
margin-bottom: 30px;

}

.same-day-service{
margin-top: 100px;
margin-bottom: 100px;

}

.same-day-service-info{

text-align: center;
margin-bottom: 200px;

}

.hero-image-contact {

    background-image: url("../images/Youngs-Tailor-Shop-ContactUsPage.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;

}

.contact-padding{

margin-top: 100px;
margin-bottom: 100px;

}

.sub-contact-padding{

margin-top: 50px;
margin-bottom: 50px;

}

.map-container{

margin-bottom: 100px;
}

#phone-number{
color: inherit;
text-decoration: none;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #0f0f0f;
  text-align: center;
  color: white;
  padding-top: 20px;

}

footer p{
font-size: 14px !important;

}
