.navbar {
    margin-bottom: 0;
}

.navbar-default {
  background-color: #0f0f0f;

}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}
